{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>GET IN TOUCH</h2>
                </div>
                <div class="contact_content">
                    <div class="col-md-6">
                        <div class="single_left_contact">
                            <form action="#" id="formid">

                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="first name" required="">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>


                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                                </div>

                                <div class="center-content">
                                    <input type="submit" value="Submit" class="btn btn-default">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_right_contact">
                            <p>Please complete the fields above and we will be happy to contact you as soon as possible.</p>

                            <div class="contact_address margin-top-40">
                                <span>1600 Limay River, Neuquen,</span>
                                <span>Neuquen 20500, Argentinian Republic.</span> 
                                <span class="margin-top-20">T: (54) 2993250803</span> 
                                <span>M: (54) 112523525</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Contact Section -->
{% endblock content %}