{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">

                                    <h1>FRAUD DETECTION SYSTEM</h1>
                                    <p>"Billions of credit card transactions are made daily, the challenge proposed by Fraud Detection © is to detect fraud at the exact moment it would be occurring.</p>
                                    <p>To understand the problem, we suggest you choose one of the 3 machine learning models that we have trained to detect fraudulent transactions based on 1 million banking transactions.</p>
                                    <p>Choose the model with which you want to carry out the simulation:</p>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                            <div class="home-contact">
                                                <div class="input-group">
                                                    <div>
                                                        <form action="{% url 'predictions_nb' %}" method="get">
                                                            <input type="submit" class="form-control predictions-button text-center" value="View NB prediction model">
                                                        </form>
                                                    </div>
                                                    <div>
                                                        <form action="{% url 'predictions_gboost' %}" method="get">
                                                            <input type="submit" class="form-control predictions-button text-center" value="View GBOOST prediction model">
                                                        </form>
                                                    </div>
                                                    <div>
                                                        <form action="{% url 'predictions_svm' %}" method="get">
                                                            <input type="submit" class="form-control predictions-button text-center" value="View SVM prediction model">
                                                        </form>
                                                    </div>
                                                </div><!-- /input-group -->


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </header>


        <!-- Sections -->
<section id="features" class="features sections">
    <div class="head_title text-center">
        <h2>DATA ANALITIC</h2>
        <p>Explore our insights and discover interesting patterns in our data.</p>
        <div class="power-bi-iframe-container">
            <iframe title="fraudes2" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODI5MTQ4NzAtNTlkNi00ZWIxLWJhMmEtMGI0ODU3MDkxMTU3IiwidCI6ImQ5NGI2MjhjLThmMzUtNDNiMy1iYmM1LWFkZmExODUyM2JjYSIsImMiOjR9&pageName=ReportSection86ed881fc1d3a5e25dc2" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</section><!--End of Features Section -->
        


<section id="service" class="service2 sections lightbg">
    <div class="container">
        <div class="row">
            <div class="main_service2">
                <div class="head_title text-center">
                    <h2>SERVICES WE PROVIDE</h2>

                </div>

                <div class="service_content">
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'assets/images/flaticon1.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Data Strategy</h2>
                                <p>We advise and guide our clients, in defining a data strategy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                               <img src="{% static 'assets/images/flaticon2.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Analytics & visualization</h2>
                                <p>Understand information in a clear and attractive way, most used data visualization (Power BI, Tableau, Looker, Microstrategy, etc.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                              <img src="{% static 'assets/images/flaticon3.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Machine learning</h2>
                                <p>We provide valuable information that helps you improve your actions, greater understanding of analysis (products, profitability, etc.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'assets/images/flaticon4.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Data Engineering & Architecture</h2>
                                <p>We design and build the data processing architecture that is the foundation stone of data science and big data projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Service2 Section -->


<!-- Sections -->
<section id="price" class="price sections">


    <div class="head_title text-center">
        <h1>Accessible services package</h1>
    
    </div>
    <!-- Example row of columns -->
    <div class="cd-pricing-container cd-has-margins">
        <div class="cd-pricing-switcher">
            <p class="fieldset">
                <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
                <label for="monthly-2">Business</label>
                <input type="radio" name="duration-2" value="yearly" id="yearly-2">
                <label for="yearly-2">Community</label>
                <span class="cd-switch"></span>
            </p>
        </div> <!-- .cd-pricing-switcher -->

        <ul class="cd-pricing-list cd-bounce-invert">
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible">
                        <header class="cd-pricing-header">
                            <h2>Basic</h2>

                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">30</span>
                                <span class="cd-duration">mo</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Purchase</a>
                        </footer>  <!-- .cd-pricing-footer -->
                    </li>

                    <li data-type="yearly" class="is-hidden">
                        <header class="cd-pricing-header">
                            <h2>Basic</h2>

                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">320</span>
                                <span class="cd-duration">yr</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Purchase</a>
                        </footer>  <!-- .cd-pricing-footer -->
                    </li>
                </ul> <!-- .cd-pricing-wrapper -->
            </li>

            <li class="cd-popular">
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible">
                        <header class="cd-pricing-header">
                            <h2>Popular</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">60</span>
                                <span class="cd-duration">mo</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Purchase</a>
                        </footer>  <!-- .cd-pricing-footer -->
                    </li>

                    <li data-type="yearly" class="is-hidden">
                        <header class="cd-pricing-header">
                            <h2>Popular</h2>

                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">630</span>
                                <span class="cd-duration">yr</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Purchase</a>
                        </footer>  <!-- .cd-pricing-footer -->
                    </li>
                </ul> <!-- .cd-pricing-wrapper -->
            </li>

            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible">
                        <header class="cd-pricing-header">
                            <h2>Premier</h2>

                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">90</span>
                                <span class="cd-duration">mo</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Purchase</a>
                        </footer>  <!-- .cd-pricing-footer -->
                    </li>

                    <li data-type="yearly" class="is-hidden">
                        <header class="cd-pricing-header">
                            <h2>Premier</h2>

                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">950</span>
                                <span class="cd-duration">yr</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Purchase</a>
                        </footer>  <!-- .cd-pricing-footer -->
                    </li>
                </ul> <!-- .cd-pricing-wrapper -->
            </li>
        </ul> <!-- .cd-pricing-list -->
    </div> <!-- .cd-pricing-container -->	

</section>

<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>GET IN TOUCH</h2>
                </div>
                <div class="contact_content">
                    <div class="col-md-6">
                        <div class="single_left_contact">
                            <form action="#" id="formid">

                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="first name" required="">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>


                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                                </div>

                                <div class="center-content">
                                    <input type="submit" value="Submit" class="btn btn-default">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_right_contact">
                            <p>Please complete the fields above and we will be happy to contact you as soon as possible.</p>

                            <div class="contact_address margin-top-40">
                                <span>1600 Limay River, Neuquen,</span>
                                <span>Neuquen 20500, Argentinian Republic.</span> 
                                <span class="margin-top-20">T: (54) 2993250803</span> 
                                <span>M: (54) 112523525</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Contact Section -->
{% endblock content %}
