{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="features" class="features sections">
        <div class="head_title text-center">
            <h2>DATA ANALITIC</h2>
            <p>Explore our insights and discover interesting patterns in our data.</p>
            <div class="power-bi-iframe-container">
                <iframe title="fraudes2" src="https://app.powerbi.com/view?r=eyJrIjoiODI5MTQ4NzAtNTlkNi00ZWIxLWJhMmEtMGI0ODU3MDkxMTU3IiwidCI6ImQ5NGI2MjhjLThmMzUtNDNiMy1iYmM1LWFkZmExODUyM2JjYSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </section><!--End of Features Section -->
{% endblock content %}