{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="service" class="service2 sections lightbg">
    <div class="container">
        <div class="row">
            <div class="main_service2">
                <div class="head_title text-center">
                    <h2>SERVICES WE PROVIDE</h2>

                </div>

                <div class="service_content">
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'assets/images/flaticon1.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Data Strategy</h2>
                                <p>We advise and guide our clients, in defining a data strategy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                               <img src="{% static 'assets/images/flaticon2.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Analytics & visualization</h2>
                                <p>Understand information in a clear and attractive way, most used data visualization (Power BI, Tableau, Looker, Microstrategy, etc.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                              <img src="{% static 'assets/images/flaticon3.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Machine learning</h2>
                                <p>We provide valuable information that helps you improve your actions, greater understanding of analysis (products, profitability, etc.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'assets/images/flaticon4.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Data Engineering & Architecture</h2>
                                <p>We design and build the data processing architecture that is the foundation stone of data science and big data projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Service2 Section -->
{% endblock content %}